@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*color and style*/
:root{
  --woocommerce: #a46497;
  --wc-green: #7ad03a;
  --wc-red: #a00;
  --wc-orange: #ffba00;
  --wc-blue: #2ea2cc;
  --wc-primary: #a46497;
  --wc-primary-text: white;
  --wc-secondary: #ebe9eb;
  --wc-secondary-text: #515151;
  --wc-highlight: #77a464;
  --wc-highligh-text: white;
  --wc-content-bg: #fff;
  --wc-subtext: #767676;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon{
  font-size: 2rem;
  cursor: pointer
  ;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;

}

.btn{
  padding: .6rem 1.5rem;
  background: var(--wc-red);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;

}

.btn>a{
  color: white;
  font-weight: 550;

}

.btn:hover{
  background-color: var(--wc-blue);
}
.img, video{
  width: 100%;
  height: auto;

}

input{
  font-size: 100%;

}
select{
  font-size: 100%;
}

body{
  background: rgb(255,255,255);
}